<div class="card-body">
	<h5 class="card-title"><%=blog.title%></h5>
	<h6 class="card-subtitle mb-2 text-muted"><%=blog.enabler.author.name%></h6>
	<p class="card-text"><%=blog.description.html_safe%></p>
	<%if blog.enabler.author == current_user %>
	<%=link_to "Edit", edit_blog_path(blog),class:"card-link",remote: true%>
	<%end%>
	<%=link_to "Open", blog_path(blog),class:"card-link",remote: true%>
</div>