<div class="card" style="padding: 30px;">
<div class="card-body">
	<h5 class="card-title"><%=blog.title%></h5>
	<h6 class="card-subtitle mb-2 text-muted"><%=blog.enabler.author.name%></h6>
	<hr>
	<div class="card-text" style=" padding: 0 0 0px 25px;"><%=blog.description.html_safe%></div>
	<hr>
	<%if moderate_post_permission(blog,@timeline) %>
	<%=link_to "Edit", edit_blog_path(blog),class:"card-link",remote: true%>
	<%end%>
	<%=link_to "Open", blog_path(blog),class:"card-link",remote: true%>
</div>
</div>