<nav class="navbar navbar-expand-lg " color-on-scroll="500">
    <div class=" container-fluid  ">
        <%unless current_user%>
        <a class="navbar-brand" href=""> User </a>
        <%else%>
        <%=link_to current_user.display_name , profile_path(current_user),class:"navbar-brand",remote:true%>
        <%end%>
        <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="nav navbar-nav mr-auto">
                <li class="dropdown nav-item">
                    <a id="notification_button" class="dropdown-toggle nav-link" data-toggle="dropdown" onclick="read_notification();">
                        <i class="nc-icon nc-planet"></i>
                    <%if current_user%>
                        <%notify=current_user.notifications.unread%>

                        <span class="notification" id="notification_count"><%=notify.length%></span>
                        <span class="d-lg-none" id="notification_count_2">Notification</span>
                        
                    </a>
                    <ul class="dropdown-menu" id="notification_area">
                        <%=render 'shared/notifications',notifications:notify%>
                    </ul>
                    <%end%>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nc-icon nc-zoom-split"></i>
                        <span class="d-lg-block">&nbsp;Search</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" onclick="get_users_account_edit();" style="cursor: pointer;">
                        <span class="no-icon">Account</span>
                    </a>
                </li>
                <%if logged_in?(:admin)%>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="no-icon">Admin</span>
                    </a>
                    
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        
                        <%=link_to "Admin", rails_admin_path,class:"dropdown-item",target:"_blank"%>
                        <div class="divider"></div>
                        <%=link_to "Sidekiq", sidekiq_web_path,class:"dropdown-item",target:"_blank"%>
                    </div>
                    
                </li>
                <%end%>
                <li class="nav-item">
                    <%=link_to "Logout",destroy_user_session_path,method: :delete,class:"nav-link" if current_user%>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script type="text/javascript">
function read_notification(){
    $.ajax({
      type:"post",
      url:'<%=seen_notifications_path%>',
      headers: {
          'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
      }
    })
}
</script>