<%user_prefs=current_user.preference
image_name=user_prefs.image_selected
image_name||=""%>
<div class="sidebar" data-image="<%=(!user_prefs.display_panel_image.nil? and user_prefs.display_panel_image and !image_name.empty?) ? image_url("sidebars/#{image_name}") : ''%>" data-color="<%=user_prefs.panel_color%>">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
    <div class="sidebar-wrapper">
        <div class="logo">
            <%=link_to "BootUp",root_path,class:"simple-text",remote:true%>
        </div>
        <ul class="nav master_navs">
            <li>
                <a class="nav-link" href="dashboard.html">
                    <i class="nc-icon nc-album-2"></i>
                    <p>Timeline</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./user.html">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>News Feed</p>
                </a>
            </li>
            <li class="nav-item">
            <%=link_to '<i class="nc-icon nc-vector"></i><p>Clubs</p>'.html_safe,communities_path,class:"nav-link",id:"communities_nav",remote: true,onclick: CustomLoader.custom_loader(element_reference_name: 'main-timeline',reference_type:'id',image_url: asset_path('custom_loader/bouncing_balls.gif'),content: 'Loading Clubs',text_color: 'gold').html_safe%>


            </li>
            <li class="nav-item">
                <%=link_to '<i class="nc-icon nc-grid-45"></i><p>Friends</p>'.html_safe,friendship_index_path,class:"nav-link",id:"friendship_nav",remote: true,onclick: CustomLoader.custom_loader(element_reference_name: 'main-timeline',reference_type:'id',image_url: asset_path('custom_loader/bouncing_balls.gif'),content: 'Loading Friends',text_color: 'gold').html_safe%>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./icons.html">
                    <i class="nc-icon nc-vector"></i>
                    <p>Icons</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./maps.html">
                    <i class="nc-icon nc-pin-3"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./notifications.html">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>Notifications</p>
                </a>
            </li>
        </ul>
        <ul class="nav">
            <li class="nav-item active active-pro">
                <a class="nav-link active" href="upgrade.html">
                    <i class="nc-icon nc-alien-33"></i>
                    <p>Upgrade to PRO</p>
                </a>
            </li>
        </ul>
    </div>
</div>