
<script type="text/javascript">
$("#mydropzone_<%=type%>").dropzone({
    url: "<%=url%>",
    addRemoveLinks : false,
    maxFilesize: 5,
    maxFiles:1,
    dictResponseError: 'Error uploading file!',
    headers: {
        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
    },
      success: function(file, response){
       $('#<%=type%>_picture').attr("src",file.dataURL);
       $.ajax({
       	type:"get",
       	url:"<%=close_corousel_url%>"
       })
    }
}).html("<div class='dz-default dz-message'><span><span class='deboss'>Drag and Drop File Here </span>/ <span class='dz-clickable' id='browsebtn'>Browse</span></span></div>");
$('#mydropzone_<%=type%>').addClass("dropzone");

</script>

<div class="logowrp clearfix" id="upload_area_<%=type%>">

	<div class="pull-left logowrpLeft">
	 <div class="pull-left" > 
	 <%latest_image_url=type=="profile" ? profile_display_image(current_user) : cover_display_image(current_user)%>
	 	<img src="<%=latest_image_url%>" height="59" width="59">
	 </div>
		<div class="logowrpLefttext">
			<%if image_count>1%>
				<%=link_to "+#{image_count-1}",profile_carousel_url,remote:true%>
			<%end%>		
		</div>
		<div class="Logodivider">OR</div>
		
	</div>
	<div class="pull-right logowrpRight">
	  	
		  	<div id="mydropzone_<%=type%>" style="width: 100%;height: 100%;padding: 15px 0 15px 0">	
			</div>
		
	</div>
</div>











