
	<%enablers.each do |enabler|%>
		<div class="timeline_post_card <%=current_user.preference.display_right_panel ? 'col-md-12' : 'col-md-6' %>" id="blog_<%=enabler.enable.id%>">
		
		<label style="padding: 10px;">
			<%= link_to enabler.author.name,profile_path(enabler.author),remote: true%>
			&nbsp;
			
			<% if enabler.timeline.timeable.class.to_s == 'Club'%>
			>
			&nbsp;
			<%= link_to "#{enabler.timeline.timeable.name}",community_path(enabler.timeline.timeable.id),remote: true%>
			<%end%>
		</label>
			<%case enabler.enable.class.to_s%>
			<%when 'Blog'%>
				<%=render partial:'blogs/blog_body',locals:{blog:enabler.enable}%>
			<%end%>
		</div>
			<hr>
	<%end%>
