
<%enablers.each do |enabler|%>
	<%enabler_obj=enabler.enable%>
	<div class="timeline_post_card <%=current_user.preference.display_right_panel ? 'col-md-12' : 'col-md-6' %>" id="<%=enabler_obj.class.name.downcase%>_<%=enabler_obj.id%>">
		<div class="card" style="padding: 30px;">
			<div class="card-body">
				<div style="padding: 0 0 15px 0px;">
				<img id="profile_picture" class="" src="<%=profile_display_image(enabler.author)%>" alt="..." height="44" width="44" style="background-image:url('<%=asset_path('default_logos/default_profile.png')%>');background-repeat: no-repeat;border-radius: 50%"/>
				<label style="vertical-align: text-bottom;padding-left: 10px;">
					
					<%= link_to enabler.author.name,profile_path(enabler.author),remote: true%>
					<%unless enabler.author.timeline == enabler.timeline%>
						
							<%if enabler.timeline.timeable.class.to_s == 'User'%>
								&nbsp;
								>
								&nbsp;
								<%= link_to enabler.timeline.timeable.name,profile_path(enabler.timeline.timeable),remote: true%>
											
							<% elsif enabler.timeline.timeable.class.to_s == 'Club'%>
								&nbsp;
								>
								&nbsp;
								<%= link_to "#{enabler.timeline.timeable.name}",community_path(enabler.timeline.timeable.id),remote: true%>
								
							<%end%>
					
					<%end%>

				</label>
				</div>
					<%case enabler_obj.class.to_s%>
					<%when 'Blog'%>
						<%=render partial:'blogs/blog_body',locals:{blog:enabler_obj}%>
					<%end%>
				<%if moderate_post_permission(enabler_obj,enabler.timeline) %>
					<%=link_to "Edit", edit_blog_path(enabler_obj),class:"card-link",remote: true%>
				<%end%>
				<%=link_to "Open", blog_path(enabler_obj),class:"card-link",remote: true%>
				<%=link_to "Comments", all_comments_path(enabler),class:"card-link",remote: true%>
			</div>
			<div class="card-footer">
				<div id="comment_form_title_<%=enabler.id%>"></div>
				<div id="comment_form_<%=enabler.id%>"></div>
				<div id="comments_<%=enabler.id%>"></div>
			</div>
		</div>
	</div>
	<hr>
<%end%>
