<%notifications.each do |notification|%>
	<a class="dropdown-item" href="<%#=notification.link%>">
		<%case notification.notifiable.class.to_s%>
		<%when "Club"%>
			<%=notification.actor.display_name%> <%=notification.action%> <%=notification.notifiable.name%>
		<%when "User"%>
			<%=notification.actor.display_name%> <%=notification.action%>
		<%end%>
			
	</a>
<%end%>
<%=link_to 'Show All Notifications',notifications_path,class:'dropdown-item',remote: true%>