<div class="card" id="user_card_<%=user.id%>" style="width: 100%;">
  <%=image_tag user.profile_image.empty? ? asset_path('default_logos/default_profile.png') : user.profile_image ,class:"card-img-top" rescue ""%>
  <div class="card-body">
    <h5 class="card-title"><%=link_to user.display_name , profile_path(user),remote:true%></h5>
    	<%unless current_user.blocked_friends.include?(user)|| current_user.friends_with?(user) %>
    		<span id="user_<%=user.id%>">
    			<%if current_user.pending_friends.include? user%>
    				<label style='color:orange;'>Request Sent</label>
    			<%elsif current_user.requested_friends.include? user%>
    				<%=link_to "Accept" , decision_friendship_path(id:user,status:1,received_from:'user_listing'),method: :post,remote:true%>
    				<%=link_to "Reject" , decision_friendship_path(id:user,status:0,received_from:'user_listing'),method: :post,remote:true%>
    			<%else%>	
    				<%=link_to "Add Friend" , addFriend_friendship_path(user),remote:true%>
    			<%end%>
    		</span>
    	<%end%>
  </div>
</div>