
<div class="card card-user" style="position: fixed;width:24%">
    <div class="card-image">
        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
    </div>
    <div class="content">
        <div class="author">
             <a href="#">
             <div class= "profile_pic_bg">
                <img class="avatar border-gray" id="profile_picture" src="<%=profile_display_image(current_user)%>" alt="..." style="background-image:url('<%=asset_path('default_logos/default_profile.png')%>');background-repeat: no-repeat;"/>
                <div class="profile_edit_overlay">
                    <%=link_to "<h5>Edit Profile</h5>".html_safe,edit_profile_index_path,onclick: CustomLoader.custom_loader(element_reference_name: 'main-timeline',reference_type:'id',image_url: asset_path('custom_loader/bouncing_balls.gif'),content: 'Edit Profile',text_color: 'gold').html_safe,remote: :true if current_user%>
                </div>
            </div>
              <h4 class="title"><span style="font-weight: 900;"><%=current_user.display_name%></span><br />
                 <small><%=current_user.email%></small>
              </h4>
            </a>
        </div>
        <%bio_display=(current_user.profile.bio.nil?) ? "My Bio" : current_user.profile.bio%>
        <center>
        <span class="description text-center" id="user_bio" style="width:100%;"><i><b>"</b><span onclick="edit_bio()" style="cursor: pointer"><%=bio_display%></span><b>"</b></i></span>
        </center>
    </div>
    <hr>
    <div class="text-center">
        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

    </div>
</div>

<%=render 'shared/user_details_js'%>
