                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">
                                <%=form_for @profile,url:profile_index_path,remote:true do |f|%>
                                    <!-- <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Company (disabled)</label>
                                                <input type="text" class="form-control" disabled placeholder="Company" value="Creative Code Inc.">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" class="form-control" placeholder="Username" value="michael23">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <%=f.label :first_name%>
                                                <%=f.text_field :first_name,class:"form-control"%>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <%=f.label :last_name%>
                                                <%=f.text_field :last_name,class:"form-control"%>
                                            </div>
                                        </div>
                                    </div>

                                  <!--   <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="row">
                                        <!-- <div class="col-md-4">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control" placeholder="City" value="Mike">
                                            </div>
                                        </div> -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <%=f.label :country%>
                                                <%=f.text_field :country,class:"form-control"%>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Postal Code</label>
                                                <input type="number" class="form-control" placeholder="ZIP Code">
                                            </div>
                                        </div> -->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <%=f.label :date_of_birth%>
                                                <%=f.date_field :dob,class:"form-control"%>
                                            </div>
                                        </div>
                                    </div>

                                    <%=f.submit "Update Profile",class: "btn btn-info btn-fill pull-right"%>
                                    <!-- <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button> -->
                                    <div class="clearfix"></div>
                                <%end%>
                            </div>

                            <div id="profile_pic_dropzone">
								<%=render partial:"shared/dropzone",locals:{url: image_upload_profile_index_path.to_s}%>
							</div>