<%my_profile = (current_user == @user)%>
<style type="text/css">
.bgimg {
    background: url('https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400') no-repeat;
    background-size: cover;
}
.img-circle {
  border-radius: 50%;
}
</style>

<div class="card text-center">
  <div class="card-header">
    <center class="bgimg">
        <%=image_tag @user.profile_image.empty? ? asset_path('default_logos/default_profile.png') : @user.profile_image ,class:"img-circle",width:140,height:140,border:0 rescue ""%> 
    </center>
    <hr>
</div>

<div class="card-body">
    <span>
    <center>
        <h3 class="media-heading"><small><%=@user.email%></small></h3>
          <i>"<%=bio_display(@user)%>"</i>
        <br>
    </center>
    </span>
    <span>
        <div class="btn-group dropdown">
          <button type="button" class="btn btn-outline-secondary disabled">
            <%= my_profile ? "Post" : "Action"%>
          </button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropright</span>
          </button>
          <div class="dropdown-menu">
            <!-- Dropdown menu links -->
            <span id="user_<%=@user.id%>">
            <%if !my_profile%>
              <%unless current_user.friends_with?(@user) || current_user.blocked_friends.include?(@user)%>  
                  <%= render 'before_friend_action_buttons'%>
              <%else%>
                <%= render 'after_friend_action_buttons'%>
              <%end%>
            <%else%>
                <%= render 'shared/new_post'%>
            <%end%>
            </span>
            
          </div>
        </div>
    </span>
</div>
</div>
<%=render 'shared/timeline'%>

