<!DOCTYPE html>
<html>
  <head>
    <title>BootUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'noty'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'noty.min.js'%>
  </head>

  <body>
    
      <%if current_user%>
        <%=render 'shared/nav.html.erb'%>
        <div class="container">
            <%unless current_user.profile.present? && current_user.profile.is_complete?%>
              <center>
                <div class="alert alert-dismissible alert-info" style="position: absolute;z-index: 99999;width: 80%;">
                  <button type="button" class="close" data-dismiss="alert" id="edit_profile_message">&times;</button>
                  <strong>Heads up!</strong> Your Profile Seems To Be Incomplete. <%=link_to "Click Here",profile_edit_path,remote: :true%> To Complete.
                </div>
              </center>
            <%end%>
          <div class="row" style="padding-top: 1.5%;">  
            <div class="cols cols-md-3" style="padding-right: 1.5%;">
              <%= render 'shared/user_details.html.erb' %>
            </div>
            <div class="cols cols-md-1">
              &nbsp;
            </div>
            
            <div class="cols cols-md-8" style="width: 71%;">    
              <div class="jumbotron" style="height:82vh;overflow-y: auto;" id="playground">
                <%if notice%>
                  <%=render partial:'shared/noty',locals:{message:notice,type:(session[:noty_type] rescue 'success')}%>
                <%end%>
                <%= yield %>
              </div>
            </div>    
          </div>
        </div>
      <%else%>
        <div class="container">
          <center style="padding-top: 3.5%">
            <div class="jumbotron" style="width: 45%;height: 82vh;overflow-y: auto;">
              <%= yield %>    
            </div>
          </center>
        </div>
      <%end%>
    
    <%=render 'shared/footer.html.erb'%>
  </body>
</html>
