<!DOCTYPE html>
<html>
  <head>
    <title>BootUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  

    <%=render 'shared/nav.html.erb'%>
    <div class="container">
      <%if current_user%>
      <div class="row" style="padding-top: 1.5%;">  
        <div class="cols cols-md-3" style="padding-right: 1.5%;">
          <%= render 'shared/user_details.html.erb' %>
        </div>
        <div class="cols cols-md-1">
          &nbsp;
        </div>
        
        <div class="cols cols-md-8" style="width: 72%;">    
          <div class="jumbotron" style="height:82vh;overflow-y: scroll;">
            <%if notice%>
              <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%=notice%>
              </div>
            <%end%>
            <%= yield %>
          </div>
        </div>    
      </div>
      <%else%>
        <center style="padding-top: 1.5%">
          <div class="jumbotron" style="width: 45%;height: 82vh;">
            <%= yield %>    
          </div>
        </center>
      <%end%>
    </div>

    <%=render 'shared/footer.html.erb'%>
  </body>
</html>
